	<div>
		<div class="main">
			<h1>About Eggschange Co-op</h1>
			<p>Betty Heim, founder of the Eggschange Co-op raises chickens on her one acre mini-farm. As friends and associates discovered that she had chickens, she found that she had a continuous demand for the eggs her chickens produced. so much so, that it was impossible to keep up with the requests with the relatively small number of chickens that she maintains.
			<p>This high demand that Betty was experiencing, led her to the idea of helping chicken owners and those who wanted fresh, home-grown chicken eggs find each other. Betty has participated in similar programs where fresh vegetable suppliers were matched with buyers for a weekly exchange. With all of this in mind, the Eggschange Co-op was born.</p>
			<p>The Eggschange program is just beginning to grow. We welcome any helpful input you might have. This program is founded on the principles of cooperation, so please, lend a hand, or constructive input when you can. Thank you for being a part of this program. With your help, we hope that the Eggschange Co-op will be a great success!</p>
		</div>
		<div class="sidebar">
			<h2>Latest News</h2>
			<h4>Location Suggestions</h4>
			<p>We have had several requests for additional locations. If you can suggest a location that is not close to one of our current locations, please drop us a line. We would love to talk with you more about possibilities for growth. If you have any other suggestions, or have questions about participating, we would also love to hear from you.</p>
		</div>
	</div>