<div>
	<div class="main">
		<h1>Contact Us</h1>
		<h4 class="contact-heading">Eggchange Co-op</h4>
		<span class="contact">Phone: </span>(602)123-4567<br>
		<span class="contact">Email: </span><a href="mailto:admin@eggchange.com">admin@eggchange.com</a>
	</div>
	<div class="sidebar">
		<h2>Latest News</h2>
		<h4>Location Suggestions</h4>
		<p>We have had several requests for additional locations. If you can suggest a location that is not close to one of our current locations, please drop us a line. We would love to talk with you more about possibilities for growth. If you have any other suggestions, or have questions about participating, we would also love to hear from you.</p>
	</div>
</div>