<div>
	<div class="main">
		<h1>FAQs</h1>
		<div class="faq-content">
			<div class="faq-head">
				<i class="fa fa-plus-square-o"></i>How do I purchase eggs?
			</div>
			<div class="faq-body">
				* Purchaser exchange commitments can be processed between 5am Monday and 9pm Tuesday for that exchange week.
				<p>The first step is to register and login. After that, you can view the <a href="#locations">locations page</a> to find the location closest to you. Once you have selected a location, go to the <a href="#exchange">exchange page</a> and fill out the form under the Purchaser tab, and submit the form.</p>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-head">
				<i class="fa fa-plus-square-o"></i>How do I become a supplier?
			</div>
			<div class="faq-body">
				* All seller exchange commitments need to be processed by 9pm Sunday for that exchange week
				<p>The first step is to register and login. After that, you can view the <a href="#locations">locations page</a> to find the location closest to you. Once you have selected a location, go to the <a href="#exchange">exchange page</a> and fill out the form under the Seller tab, and submit the form.</p>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-head">
				<i class="fa fa-plus-square-o"></i>How much do the eggs cost?
			</div>
			<div class="faq-body">
				<p>The eggs cost $4.00 per dozen. Of this amount, $3.50 will be given to the supplier. $.50 per dozen is retained by the Eggschange Co-op for administrative costs.</p>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-head">
				<i class="fa fa-plus-square-o"></i>How many can I buy?
			</div>
			<div class="faq-body">
				<p>Up to 6 dozen can be purchased per registered user. Availability is first come first serve. We will put up a notification on the webpage once the supply for a locatation is depleted. An email will be sent out for any orders that are placed that cannot be fulfilled.</p>
			</div>
		</div>
		<div class="faq-content">
			<div class="faq-head">
				<i class="fa fa-plus-square-o"></i>Are you going to be getting more locations?
			</div>
			<div class="faq-body">
				<p>Yes, we are actively pursueing additional locations. We need your help in growing our exchange, and in providing suggestions for additional locations. If you have a good location in mind please <a href="#contact">contact us</a></p>
			</div>
		</div>
	</div>
	<div class="sidebar">
		<h2>Latest News</h2>
		<h4>Location Suggestions</h4>
		<p>We have had several requests for additional locations. If you can suggest a location that is not close to one of our current locations, please drop us a line. We would love to talk with you more about possibilities for growth. If you have any other suggestions, or have questions about participating, we would also love to hear from you.</p>
	</div>
</div>