<div>
	<div class="main">
		<div class="supplier-showcase">
			<a href="./images/chickens2.jpg" class="lightbox_trigger"><img src="./images/chickens2.jpg" alt="chickens"></a>
			<a href="./images/chickens3.jpg" class="lightbox_trigger"><img src="./images/chickens3.jpg" alt="chick</a>ens"></a>
			<a href="./images/chickens4.jpg" class="lightbox_trigger"><img src="./images/chickens4.jpg" alt="chick</a>ens"></a>
			<a href="./images/chickens5.jpg" class="lightbox_trigger"><img src="./images/chickens5.jpg" alt="chickens"></a>
			<a href="./images/chickens6.jpg" class="lightbox_trigger"><img src="./images/chickens6.jpg" alt="chickens"></a>
			<a href="./images/chickens7.jpg" class="lightbox_trigger"><img src="./images/chickens7.jpg" alt="chickens"></a>
			<a href="./images/chickens8.jpg" class="lightbox_trigger"><img src="./images/chickens8.jpg" alt="chick</a>ens"></a>
			<a href="./images/chickens9.jpg" class="lightbox_trigger"><img src="./images/chickens9.jpg" alt="chick</a>ens"></a>
			<a href="./images/chickens10.jpg" class="lightbox_trigger"><img src="./images/chickens10.jpg" alt="ch"></a>
		</div>
		<div class="lightbox">
			<span class="close"><i class="fa fa-times fa-3x"></i></span>
			<span class="previous nav"><i class="fa fa-chevron-left fa-3x"></i></span>
			<span class="next nav"><i class="fa fa-chevron-right fa-3x"></i></span>
			<div class="content"></div>
		</div>
	</div>
	<div class="sidebar">
		<h2>Latest News</h2>
		<h4>Location Suggestions</h4>
		<p>We have had several requests for additional locations. If you can suggest a location that is not close to one of our current locations, please drop us a line. We would love to talk with you more about possibilities for growth. If you have any other suggestions, or have questions about participating, we would also love to hear from you.</p>
	</div>
</div>