<div>
	<div class="main">
		<h1>Register</h1>
		<form action="/register" class="register-form" method="POST">
			<span>First Name:</span><input type="text" name="first_name" required><br>
			<span>Last Name:</span><input type="text" name="last_name" required><br>
			<span>Email:</span><input type="email" name="email" required><br>
			<span class="radio">Buyer:</span><input class="radio-input" type="radio" name="is_supplier" value="0" checked required>
  		<span class="radio">Supplier:</span><input class="radio-input" type="radio" name="is_supplier" value="1"><br>
			<span>Password:</span><input type="password" name="password" required><br>
			<button>Register</button>
		</form>
	</div>
	<div class="sidebar">
		<h2>Latest News</h2>
		<h4>Location Suggestions</h4>
		<p>We have had several requests for additional locations. If you can suggest a location that is not close to one of our current locations, please drop us a line. We would love to talk with you more about possibilities for growth. If you have any other suggestions, or have questions about participating, we would also love to hear from you.</p>
	</div>
</div>